Repository Haofei/cherry-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format-js, eslint-fix, biome-format-other

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, post-checkout]

repos:
  - repo: local
    hooks:
      - id: biome-format-js
        name: Biome format (JS/TS)
        language: system
        entry: pnpm biome format --write --no-errors-on-unmatched
        files: '\.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$'
        pass_filenames: true

      - id: eslint-fix
        name: ESLint fix
        language: system
        entry: pnpm eslint --fix
        files: '\.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$'
        pass_filenames: true

      - id: biome-format-other
        name: Biome format (JSON/YAML/CSS/HTML)
        language: system
        entry: pnpm biome format --write --no-errors-on-unmatched
        files: '\.(json|yml|yaml|css|html)$'
        pass_filenames: true

      - id: post-checkout-install
        name: pnpm install after checkout
        language: system
        entry: bash -c 'if [ "$PRE_COMMIT_FROM_REF" != "$PRE_COMMIT_TO_REF" ] && git diff --name-only "$PRE_COMMIT_FROM_REF" "$PRE_COMMIT_TO_REF" -- "**/package.json" pnpm-lock.yaml | grep -q .; then echo "Dependencies changed, running pnpm install..."; pnpm install; else echo "No dependency changes, skipping pnpm install."; fi'
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

chore: release v1.7.20 (#13038)
  electron-builder.yml
  package.json
Due: biome-format-other

chore: release v1.7.21
  package.json
Due: biome-format-other

ci: add PR description check workflow (#13035)
  .github/workflows/pr-description-check.yml
Due: biome-format-other

fix: remove extra divider in settings (#13047)
  src/renderer/src/pages/settings/DataSettings/DataSettings.tsx
Due: biome-format-js, eslint-fix

docs: add user-facing change guidance for release notes and docs checkbox (#13041)
  .agents/skills/gh-create-pr/SKILL.md
  .claude/skills/gh-create-pr/SKILL.md
  .github/pull_request_template.md
Due: none

chore: upgrade electron to 40.6.1 (#13039)
  package.json
  pnpm-lock.yaml
Due: biome-format-other

fix: disable translate button when sending message is disabled (#13045)
  src/renderer/src/pages/home/Inputbar/components/InputbarCore.tsx
Due: biome-format-js, eslint-fix

feat(skills): Add gh-pr-review skill for structured GitHub PR reviews (#13051)
  .agents/skills/.gitignore
  .agents/skills/gh-pr-review/SKILL.md
  .agents/skills/gh-pr-review/agents/openai.yaml
  .agents/skills/public-skills.txt
  .claude/skills/.gitignore
  .claude/skills/gh-pr-review/SKILL.md
Due: biome-format-other

fix: Resolve MCP SDK security vulnerability (#13056)
  package.json
  packages/shared/utils/index.ts
  packages/shared/utils/serialize.ts
  pnpm-lock.yaml
  src/main/services/MCPService.ts
  src/renderer/src/types/index.ts
  src/renderer/src/utils/error.ts
Due: biome-format-js, eslint-fix, biome-format-other

chore(deps): bump @anthropic-ai/claude-agent-sdk from 0.1.76 to 0.2.56 (#13044)
  package.json
  patches/@anthropic-ai__claude-agent-sdk.patch
  pnpm-lock.yaml
Due: biome-format-other

refactor: replace antd message with window toast (#13062)
  src/renderer/src/pages/home/Messages/Blocks/ThinkingBlock.tsx
  src/renderer/src/pages/home/Messages/Tools/MessageMcpTool.tsx
Due: biome-format-js, eslint-fix

fix: filter hidden elements when exporting messages as images (#13066)
  src/main/services/FileStorage.ts
  src/preload/index.ts
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/home/Messages/MessageMenubar.tsx
  src/renderer/src/utils/image.ts
Due: biome-format-js, eslint-fix, biome-format-other

chore: align @types/node with Electron 40's Node.js 24 (#13055)
  package.json
  pnpm-lock.yaml
  src/main/utils/__tests__/file.test.ts
Due: biome-format-js, eslint-fix, biome-format-other

docs: add self-review checklist item to PR template (#13067)
  .github/pull_request_template.md
Due: none

chore(deps): fix security vulnerabilities in edge dependencies (#13054)
  package.json
  patches/epub-npm-1.3.0-8325494ffe.patch
  pnpm-lock.yaml
  src/main/services/BackupManager.ts
  src/renderer/src/utils/exportExcel.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix: remove obsolete types and add pnpm overrides (#13078)
  package.json
  pnpm-lock.yaml
Due: biome-format-other

chore: use node-version-file for CI workflows (#13076)
  .github/workflows/auto-i18n.yml
  .github/workflows/ci.yml
  .github/workflows/github-issue-tracker.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/sync-to-gitcode.yml
  .github/workflows/update-app-upgrade-config.yml
  .node-version
  .nvmrc
Due: biome-format-other

fix: clear attached files after sending message in agent session inputbar (#13081)
  src/renderer/src/pages/home/Inputbar/AgentSessionInputbar.tsx
Due: biome-format-js, eslint-fix

fix: call abort when closing message translation (#13053)
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/home/Messages/MessageMenubar.tsx
Due: biome-format-js, eslint-fix, biome-format-other

chore: Add post-merge hook for automatic pnpm install (#13089)
  .pre-commit-config.yaml
Due: biome-format-other

fix(resource-panel): show files and plugins when opening via button click (#13079)
  src/renderer/src/pages/home/Inputbar/tools/components/ResourceButton.tsx
  src/renderer/src/pages/home/Inputbar/tools/components/useResourcePanel.tsx
  src/renderer/src/pages/home/Inputbar/tools/resourceTool.tsx
Due: biome-format-js, eslint-fix

fix(NotesService): 修复当未打开笔记页面，直接将聊天导出为笔记时因路径问题导致的导出失败 (#13048)
  src/renderer/src/pages/notes/NotesPage.tsx
  src/renderer/src/services/NotesService.ts
Due: biome-format-js, eslint-fix

fix: upgrade ollama provider to 3.3.1 (#13085)
  package.json
  patches/@openrouter__ai-sdk-provider.patch
  patches/ollama-ai-provider-v2-npm-1.5.5-8bef249af9.patch
  patches/ollama-ai-provider-v2@3.3.1.patch
  pnpm-lock.yaml
  src/renderer/src/aiCore/utils/options.ts
Due: biome-format-js, eslint-fix, biome-format-other

ci: skip on forks (#13110)
  .github/workflows/auto-i18n.yml
  .github/workflows/github-issue-tracker.yml
Due: biome-format-other

fix: correct qwen3.5 flash typo and merge plus/flash patterns (#13116)
  src/renderer/src/config/models/reasoning.ts
Due: biome-format-js, eslint-fix

fix: improve log message layout (#13123)
  src/renderer/src/pages/settings/MCPSettings/McpSettings.tsx
Due: biome-format-js, eslint-fix

fix(search): prevent empty activeTools when web search is the only tool (#14752)
  src/renderer/src/aiCore/plugins/searchOrchestrationPlugin.ts
Due: biome-format-js, eslint-fix

hotfix(vertex): vertex model list fetch and improve service account setup (#14611)
  src/renderer/src/aiCore/services/__tests__/listModels.test.ts
  src/renderer/src/aiCore/services/listModels.ts
  src/renderer/src/aiCore/services/listModels/vertex.ts
  src/renderer/src/aiCore/services/schemas.ts
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/i18n/translate/vi-vn.json
  src/renderer/src/pages/settings/ProviderSettings/VertexAISettings.tsx
  src/renderer/src/pages/settings/ProviderSettings/__tests__/VertexAISettings.test.tsx
  src/renderer/src/utils/__tests__/vertexAI.test.ts
  src/renderer/src/utils/vertexAI.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix(messages): prevent outer scrolling in horizontal multi-model layout (#14768)
  src/renderer/src/pages/home/Messages/Message.tsx
  src/renderer/src/pages/home/Messages/MessageGroup.tsx
  src/renderer/src/pages/home/Messages/__tests__/MessageGroup.test.tsx
Due: biome-format-js, eslint-fix

fix(reasoning): use enable_thinking param for SiliconFlow DeepSeek/Zhipu models when reasoning_effort is none (#14782)
  src/renderer/src/aiCore/utils/__tests__/reasoning.test.ts
  src/renderer/src/aiCore/utils/reasoning.ts
Due: biome-format-js, eslint-fix

feat(claw): add timeout_minutes parameter to cron tool (#14707)
  src/main/mcpServers/claw.ts
  src/main/services/agents/services/cherryclaw/prompt.ts
Due: biome-format-js, eslint-fix

hotfix(gateway): bypass @ai-sdk/gateway schema for Vercel model listing (#14772)
  src/renderer/src/aiCore/AiProvider.ts
  src/renderer/src/aiCore/__tests__/ModernAiProvider.models.test.ts
  src/renderer/src/aiCore/services/__tests__/listModels.test.ts
  src/renderer/src/aiCore/services/listModels.ts
  src/renderer/src/aiCore/services/schemas.ts
  src/renderer/src/services/__tests__/ModelAdapter.test.ts
  src/renderer/src/services/models/ModelAdapter.ts
Due: biome-format-js, eslint-fix

fix(api-server): strip trailing /v1 from Anthropic SDK baseURL (#14818)
  packages/shared/anthropic/__tests__/index.test.ts
  packages/shared/anthropic/index.ts
Due: biome-format-js, eslint-fix

fix(selection-action): wrap long result code blocks inside the panel (#19503)
  src/renderer/components/CodeBlockView/CodeBlockView.tsx
  src/renderer/components/CodeBlockView/__tests__/CodeBlockView.test.tsx
  src/renderer/components/CodeBlockView/wrapLinesContext.ts
  src/renderer/windows/selection/action/ActionWindow.tsx
  src/renderer/windows/selection/action/__tests__/ActionWindow.test.tsx
  src/renderer/windows/selection/action/components/ActionTranslate.tsx
  src/renderer/windows/selection/action/components/__tests__/ActionTranslate.test.tsx
Due: biome-format-js, eslint-fix

fix(provider): keep list order on enable and insert new providers first (#19488)
  docs/references/data/api-design-guidelines.md
  docs/references/data/data-ordering-guide.md
  src/main/data/services/ProviderService.ts
  src/main/data/services/__tests__/ProviderService.reorder.test.ts
  src/renderer/pages/settings/ProviderSettings/hooks/providerSetting/__tests__/useProviderEnable.test.tsx
  src/renderer/pages/settings/ProviderSettings/hooks/providerSetting/useProviderEnable.ts
  src/renderer/pages/settings/ProviderSettings/utils/__tests__/providerEnablement.test.ts
  src/renderer/pages/settings/ProviderSettings/utils/providerEnablement.ts
  src/shared/data/api/schemas/providers.ts
  v2-refactor-temp/docs/breaking-changes/2026-09-01-provider-list-ordering.md
Due: biome-format-js, eslint-fix

fix(v2-migration): retry startup storage failures (#20454)
  src/main/core/preboot/__tests__/v2MigrationGate.test.ts
  src/main/core/preboot/v2MigrationGate.ts
  src/main/data/migration/v2/core/MigrationDbService.ts
  src/main/data/migration/v2/core/__tests__/MigrationDbService.test.ts
  src/main/data/migration/v2/core/__tests__/migrationErrors.test.ts
  src/main/data/migration/v2/core/migrationErrors.ts
  src/main/data/migration/v2/index.ts
  src/main/i18n/__tests__/index.test.ts
  src/main/i18n/index.ts
  src/main/i18n/locales/de-de.json
  src/main/i18n/locales/el-gr.json
  src/main/i18n/locales/en-us.json
  src/main/i18n/locales/es-es.json
  src/main/i18n/locales/fr-fr.json
  src/main/i18n/locales/ja-jp.json
  src/main/i18n/locales/pt-pt.json
  src/main/i18n/locales/ro-ro.json
  src/main/i18n/locales/ru-ru.json
  src/main/i18n/locales/tr-tr.json
  src/main/i18n/locales/vi-vn.json
  src/main/i18n/locales/zh-cn.json
  src/main/i18n/locales/zh-tw.json
  src/main/i18n/resolver.ts
Due: biome-format-js, eslint-fix, biome-format-other

perf(export): parallelize pasted-text reads during plain-text export (#20751)
  src/renderer/utils/__tests__/export.test.ts
  src/renderer/utils/export.ts
Due: biome-format-js, eslint-fix

fix(chat-layout): use narrower default artifact pane width (#18981)
  src/renderer/components/chat/shell/__tests__/RightPaneHost.test.tsx
  src/shared/data/cache/cacheSchemas.ts
Due: biome-format-js, eslint-fix
